@import "./bs";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  cursor: pointer;
}

:root {
  --bs-link-decoration: none;
}

.topcoder-like-circle {
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  margin-right: 5px;
  height: 16px;
  width: 16px;
}
.contest {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.row-selected {
  background: rgba(156, 238, 161, 1);
  font-weight: 900;
}

:root {
  --bs-link-decoration: none;
}

.contest-table {
  padding: 0 3rem;
}

.cursor-pointer {
  cursor: pointer;
  text-align: center;
}

.right-side {
  position: fixed;
  left: calc(100vw - 1.2rem);
  background: rgba(0, 0, 0, 0.01);
  width: 100vh;
  height: 2.5rem;
  top: 0;
  z-index: 1000;
  transform: rotate(90deg);
  transform-origin: top left;
}

.select-none {
  user-select: none;
}

@include media-breakpoint-down(sm) {
  .right-side {
    position: inherit;
    background: rgba(0, 0, 0, 0.01);
    width: 100vw;
    height: 2.5rem;
    transform: rotate(0);
    transform-origin: top left;
  }
}

// resizer style
.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover>.resizer {
    opacity: 1;
  }
}

.topcoder-like-circle {
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  margin-right: 5px;
  height: 16px;
  width: 16px;
}
.contest {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.row-selected {
  background: rgba(156, 238, 161, 0.5);
  font-weight: 900;
}

.right-side::after {
  right: 0;
}

.th-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.backtop {
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 5px;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  display: block;
}

table>thead {
  z-index: 10;
}

table,
.divTable {
  border: 1px solid lightgray;
  width: fit-content;
  table-layout: fixed;
  display: table;
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
  height: 30px;
}

th,
.th,
td,
.td {
  box-shadow: inset 0 0 0 1px lightgray;
  padding: 0.2rem;
  overflow: hidden;
}

th,
.th {
  padding: 2px 4px;
  position: relative;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

td,
.td {
  height: 30px;
}

.tb-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;

  .fr-wrapper {
    top: .5rem;
    right: 0.5rem;
    position: absolute;
  }

  .fr {
    position: relative;
    right: 0;
    color: rgb(49, 200, 49);
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
  }
}


.ans {
  color: black!important;
  font-size: 1.5rem!important;
  font-weight: normal;
  text-decoration: none;
  &:hover {
    transform: scale(1.2);
  }
}

.link {
  text-decoration: underline!important;
  text-underline-offset: 3px;
}

// scrollbar
/*
 *  STYLE 2
 */
 ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(143, 143, 143, 0.3);
  border-radius: 4px;
  background-color: #eaeaea;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a6a6a6;
}
