.zen-option-TODO {
  color: #343a40!important;
  /* Soft black */
}

.zen-option-WORKING {
  color: dodgerblue!important;
  /* Soft blue */
}

.zen-option-TOO_HARD {
  color: #dc3545!important;
  /* Soft red */
}

.zen-option-REVIEW_NEEDED {
  color: #fd7e14!important;
  /* Soft orange */
}

.zen-option-AC {
  color: #28a745!important;
  /* Soft green */
}


.zen-container {
  min-width: 60%;
}

.zen-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  gap: 1rem;
}

.zen-table-row {
  :hover {
    cursor: pointer;
  }
  td {
    vertical-align: middle;
    text-align: center;
    padding: 0.25rem!important;
  }

  .zen-spinner-td {
    text-align: center;
  }

  .zen-ans {
    float: right;

    a {
      color: black!important;
      font-size: 1.5rem!important;
      font-weight: normal;
      text-decoration: none;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.zen-table-header {
  .zen-table-header-no {
    width: 100px;
  }

  .zen-table-header-question {
    width: 400px;
  }

  .zen-table-header-progress {
    width: 250px;
  }
}

.zen-filter-dialog {
  margin-top: 5%!important;

  .zen-filter-tag {
    .active {
      background: plum;
    }
  }
}

