# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/app/(test)

# production
/build

# local env files
.env*.local

# npm
.npmrc
npm-debug.log*

# yarn
.yarnrc.yml
yarn-debug.log*
yarn-error.log*

# pnpm
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode

# python
.venv
__pycache__

# misc
.DS_Store
*.pem
lc-maker/hds.txt
test
