.problem-list {
  display: grid;
  grid-template-areas: "toc content";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr;
  z-index: -1;
}

.pb-content {
  display: grid;
  grid-area: content;
  font-family: "宋体", "SimSun", "STSong", "sans-serif";
}

@include media-breakpoint-down(md) {
  .pb-content {
    margin: 0 !important;
    padding: 0 !important;
  }
  .problem-list {
    display: block;
  }
  .toc {
    display: none;
  }
}

@keyframes blink {
  50% {
    background-color: yellow;
  }
}

.blinking-effect {
  animation: blink 1s ease-in-out infinite;
}
