// app styles
@import "./common";
@import "./search";
@import "./zen";
@import "./search";
@import "./list";

// components
@import "@components/ProblemCatetory/_index";

nav {
    z-index: 1000;
}
// color mode
@include color-mode(dark, false) {
    nav {
        background: $gray-900;
    }

    #nav-cl,#nav-tr,#nav-0x3f,#nav-pg,#nav-pl {
        background: var(--bs-gray-700);
    }
}

@include color-mode(light, false) {
    nav {
        background: $gray-100;
    }
}
