@import "../bs";
@import "katex/dist/katex.css";

code {
    padding: 1rem;
}
a {
    text-underline-offset: .2rem;
    text-decoration-style: dashed;
    text-decoration-color: rgb(240, 99, 99);
    text-decoration-thickness: 1px;
}
a:visited {
    color: initial;
}

blockquote {
    border-left: 5px solid rgb(255, 225, 0);
    background: rgb(240, 240, 240);
}

*[data-rehype-pretty-code-figure] {
    margin-block: 0;
    margin-inline: 0;
}

.debug * {
    outline: 1px dashed gold;
}

.mdx-layout {
    display: grid;
    grid-template-areas: "top-nav top-nav" "side-nav content";
    grid-template-columns: 2fr 5fr;
    // grid-template-rows: 48px auto;
    grid-auto-rows: max-content;
    height: 100vh;
    width: 100%;

    .side-nav {
        grid-area: side-nav;
        padding: 1rem;
        position: fixed;
        top: 48px;
        height: auto;
        margin-bottom: auto;
        ul {
            margin-inline: 0;
            padding-inline: 0;
            margin-block: 0;
            gap: .5rem;
            display: flex;
            flex-direction: column;
        }

        li {
            list-style: none;
            cursor: pointer;
        }

        .menu-item {
            text-align: left;
            padding: .5rem;
            transition: all ease-in-out 200ms;
            &:hover {
                opacity: .8;
            }

            font-size: 1.2rem;
            text-decoration: none;
            user-select: none;
            transition: all ease-in-out 200ms;
            $active-color: rgb(222, 84, 84);

            &.active {
                color: $active-color;
                text-decoration: underline $active-color;
                text-underline-offset: .2rem;
            }
        }
    }

    .top-nav {
        grid-area: top-nav;
        text-align: center;
        font-size: 2rem;
    }

    .content {
        grid-area: content;
        padding: 1rem;
        font-size: 20px;
        margin: 0 auto;
        width: 100%;

        & * {
            outline: none;
        }
    }
}

@include media-breakpoint-up(lg) {
    .mdx-layout {
        width: 65%;
        margin: 0 auto;
    }
}

