.toc {
    display: grid;
    position: sticky;
    top: 5rem;
    grid-area: toc;
    overflow-y: auto;
    height: calc(100vh - 5rem);
}
.toc-list,
.toc-list ul {
    list-style-type: none;
    li {
        a {
            display: flex;
            width: 100%;
            font-size: 1.2rem;
            text-decoration: none;
            &:hover {
                background: rgb(235, 238, 240);
                padding-left: .2rem;
            }
        }
    }
}

.toc-list {
    padding: 0 0.5rem 0 0.5rem;
}

.toc-list ul {
    padding-inline-start: 1ch;
}

.pb-container {
    gap: 1rem;

    .pb-rating-bg {
        // border-radius: 16px;
        // padding: 0 2px 0 2px;
        .rating-text {
            font-family: '黑体', '微软雅黑';
            font-weight: 900;
            font-size: .75rem;
            margin-left: -3px;
        }
    }
    .summary {
        background: rgb(251, 251, 251);
        font-weight: 600;
        a {
            text-decoration: underline!important;
        }
        img {
            max-width: 400px!important;
        }
    }

    &.level-0 {
        border-radius: 0;
        background: transparent;

        &>.title {
            color: $gray-900!important;
        }
    }

    .level-3 {
        h3 > p {
            font-weight: 900;
        }
    }

    .level-2,
    .level-4 {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        background: transparent;
    }

    .leaf {
        background: rgb(244, 242, 242);
        h3 {
            font-weight: 800;
        }
        .list {
            background: rgb(251, 236, 209);
            list-style: none;
            max-width: 100%;
            margin-block-end: 0;

            li:nth-child(n) {
                margin-bottom: .2rem;
            }

            li:last-child {
                margin-bottom: 0;
            }

            &.col2,
            &.col3 {
                columns: 2;
                column-rule-width: 2px;
                column-rule-color: rgb(107, 107, 107);
                column-gap: 1cm;
                column-rule-style: dashed;
            }

            &.col3 {
                columns: 3;
            }
        }

        a {
            color: rgb(0, 0, 0);
            font-weight: bolder;
            text-decoration: underline;
            text-underline-offset: 0.25rem;
        }

        li {
            width: 100%;
        }

    }

    border-radius: 15px;

    .title {
        color: aliceblue;
    }
}

@include media-breakpoint-down(md) {
    .toc {
        display: none;
    }
    .pb-container {
        min-width: 100%;

        .leaf {
            .list {

                &.col2,
                &.col3 {
                    columns: unset;
                }
            }
        }
    }
}

@include color-mode(light, false) {
    .pb-container {
        background: white;
    }

    .title {
        color: $gray-900;
    }
}

@include color-mode(dark, false) {
    .toc-list,
    .toc-list ul {
        li {
            a {
                &:hover {
                    background: white;
                    padding-left: .2rem;
                }
            }
        }
    }
    .pb-container {
        background: rgb(36, 36, 36);
        .summary {
            a {
                color: $blue;
            }
        }

        &.level-0 {
            border-radius: 0;

            &>.title {
                color: white !important;
            }
        }

        .leaf {
            background: rgb(30, 29, 29);

            a {
                color: white;
            }

            .list {
                background: rgb(43, 43, 43);
                color: white;
            }
        }
    }

    .title {
        color: white;
    }
}
