$link-decoration: none;
$table-striped-bg: white;

@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/utilities";

a {
  color: black;
}

.btn-secondary {
  --bs-btn-active-bg: #e0e1e1;
}

.contest-table {
  padding: 0 3rem;
}

.cursor-pointer {
  cursor: pointer;
  text-align: center;
}


.right-side {
  position: fixed;
  left: calc(100vw - 1.2rem);
  background: rgba(0, 0, 0, 0.01);
  width: 100vh;
  height: 2.5rem;
  top: 0;
  z-index: 1000;
  transform: rotate(90deg);
  transform-origin: top left;
}

@include media-breakpoint-down(sm) {
  .right-side {
    position: inherit;
    background: rgba(0, 0, 0, 0.01);
    width: 100vw;
    height: 2.5rem;
    transform: rotate(0);
    transform-origin: top left;
  }
}

.right-side::after {
  right: 0;
}

.th-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.backtop {
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 5px;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  display: block;
}

table>thead {
  z-index: 10;
}

table,
.divTable {
  border: 1px solid lightgray;
  width: fit-content;
  table-layout: fixed;
  display: table;
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
  height: 30px;
}

th,
.th,
td,
.td {
  box-shadow: inset 0 0 0 1px lightgray;
  padding: 0.2rem;
  overflow: hidden;
}

th,
.th {
  padding: 2px 4px;
  position: relative;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

td,
.td {
  height: 30px;
}

.tb-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;

  .fr-wrapper {
    top: .5rem;
    right: 0.5rem;
    position: absolute;
  }

  .fr {
    position: relative;
    right: 0;
    color: rgb(49, 200, 49);
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
  }
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover>.resizer {
    opacity: 1;
  }
}

.ans {
  color: black!important;
  font-size: 1rem!important;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.link {
  text-decoration: underline!important;
  text-underline-offset: 3px;
}

.search {
  margin: 1rem auto;
  padding: 0 2rem;
  li[class='search-input'] {
    position: sticky;
    top: 1rem;
    background: white;
    margin-bottom: 1rem;
    input {
      height: 100%;
      width: 100%;
      line-height: 100%;
      font-size: 1.5rem;
      padding: .5rem;
      border-radius: 5px;
      border-width: 1px;
      &:focus,&:active {
        border-width: 2px;
        border-color: white;
      }
      &::before,&::after {
        border: none;
      }
    }
  }
  li {
    list-style: none;
    padding: .2rem 0;
    a {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .qtot {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    user-select: none;
  }
  .tag {
    cursor: pointer;
    background: $gray-100;
    user-select: none;

    &.sm {
      color: black!important;
      font-size: 0.6rem;
      padding: 2px 5px;
    }
  
    &:hover {
      background: var(--bs-btn-active-bg)!important;
    }
    &.active {
      background: $orange-200!important;
      transition: all ease-in-out 100ms;
      font-weight: 600;
    }
    &.active1 {
      background: $gray-200!important;
      transition: all ease-in-out 100ms;
      font-weight: bold;
    }
  }

  
  .search-table {
    width: 100%;
    
    border-collapse: separate;
    
    border-radius: 15px;
    box-shadow: none;
    
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;

    .text-left {
      text-align: left;
    }
    
    *, ::after, ::before {
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
        box-shadow: none;
    }
    .table-head {
      background: $gray-500;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      margin-bottom: 15px;
    }
    .table-body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
      width: 100%;
    }
    .table-row {
      border-radius: 15px;
      display: grid;
      grid-template-columns: 1fr 4fr 2fr 4fr;
      padding: 5px 10px;
      width: 100%;
      height: auto;
      min-height: 72px;
      cursor: pointer;

      td {
        height: auto;
      }
    }
    .bg-color {
      background: $gray-100;
      &:hover {
        background: rgb(229, 229, 229);
        transition: all ease-in-out 100ms;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .search {
    padding: 10px;

    .search-table {
      border-radius: 0;
      border: none;
      padding: 0;
    }
  }
}
