$link-decoration: none;
$table-striped-bg: white;

@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/utilities";

a {
  color: black;
  text-decoration: underline;
}

.btn-secondary {
  --bs-btn-active-bg: #e0e1e1;
  // --bs-btn-color: $primary;
  // --bs-btn-bg: #d3e8fc;
}

.contest-table {
  padding: 0 3rem;
}

.cursor-pointer {
  cursor: pointer;
  text-align: center;
}


.right-side {
  position: fixed;
  left: calc(100vw - 1.2rem);
  background: rgba(0, 0, 0, 0.01);
  width: 100vh;
  height: 2.5rem;
  top: 0;
  z-index: 1000;
  transform: rotate(90deg);
  transform-origin: top left;
}

@include media-breakpoint-down(sm) {
  .right-side {
    position: inherit;
    background: rgba(0, 0, 0, 0.01);
    width: 100vw;
    height: 2.5rem;
    transform: rotate(0);
    transform-origin: top left;    
  }
}

.right-side::after {
  right: 0;
}

.th-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.backtop {
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 5px;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  display: block;
}

table > thead {
  z-index: 10;
}

table,
.divTable {
  border: 1px solid lightgray;
  width: fit-content;
  table-layout: fixed;
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
  height: 30px;
}

th,
.th,
td,
.td {
  box-shadow: inset 0 0 0 1px lightgray;
  padding: 0.2rem;
  overflow: hidden;
}

th,
.th {
  padding: 2px 4px;
  position: relative;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

td,
.td {
  height: 30px;
}

.tb-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  .fr-wrapper {
    top: .5rem;
    right: 0.5rem;
    position: absolute;
  }
  .fr {
    position: relative;
    right: 0;
    color: rgb(49, 200, 49);
    font-weight: 900;
    font-size: .5rem;
    font-family: 'Courier New', Courier, monospace;
  }
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover>.resizer {
    opacity: 1;
  }
}
