// variable overrides
$primary: rgb(160, 201, 255);
$link-decoration: none;
$color-mode-type: data;
$link-color-dark: rgb(39, 67, 250);
$link-color: rgb(0, 0, 0);

@import "bootstrap/scss/bootstrap";
// customize
.btn-secondary {
    --bs-btn-active-bg: #e0e1e1;
}
