.problem-list {
    display: grid;
    grid-template-areas: "toc content";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    z-index: -1;
}

.pb-content {
    display: grid;
    grid-area: content;
}

@include media-breakpoint-down(md) {
    .problem-list {
        display: block;
    }
    .toc {
        display: none;
    }
}
