.search {
    margin: 1rem auto;
    padding: 0 2rem;

    li[class='search-input'] {
        position: sticky;
        top: 1rem;
        background: white;
        margin-bottom: 1rem;

        input {
            height: 100%;
            width: 100%;
            line-height: 100%;
            font-size: 1.5rem;
            padding: .5rem;
            border-radius: 5px;
            border-width: 1px;

            &:focus,
            &:active {
                border-width: 2px;
                border-color: white;
            }

            &::before,
            &::after {
                border: none;
            }
        }
    }

    li {
        list-style: none;
        padding: .2rem 0;

        a {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .qtot {
        position: absolute;
        right: 1.5rem;
        top: 0.5rem;
        user-select: none;
    }

    .tag {
        cursor: pointer;
        background: $gray-100;
        user-select: none;

        &.sm {
            color: black !important;
            font-size: .875rem;
            padding: 2px 5px;
        }

        &:hover {
            background: var(--bs-btn-active-bg) !important;
        }

        &.active {
            background: $orange-200 !important;
            transition: all ease-in-out 100ms;
            font-weight: 600;
        }

        &.active1 {
            background: $gray-200 !important;
            transition: all ease-in-out 100ms;
            font-weight: bold;
        }
    }


    .search-table {
        width: 100%;

        border-collapse: separate;

        border-radius: 15px;
        box-shadow: none;

        padding: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;

        .text-left {
            text-align: left;
        }

        *,
        ::after,
        ::before {
            border: 0 solid #e5e7eb;
            box-sizing: border-box;
            box-shadow: none;
        }

        .table-head {
            background: $gray-500;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            margin-bottom: 15px;
        }

        .table-body {
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;
            width: 100%;
        }

        .table-row {
            border-radius: 15px;
            display: grid;
            grid-template-columns: 1fr 4fr 2fr 4fr;
            padding: 5px 10px;
            width: 100%;
            height: auto;
            min-height: 72px;
            cursor: pointer;

            td {
                height: auto;
            }
        }

        .bg-color {
            background: $gray-100;

            &:hover {
                background: rgb(229, 229, 229);
                transition: all ease-in-out 100ms;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .search {
        padding: 10px;

        .search-table {
            border-radius: 0;
            border: none;
            padding: 0;
        }
    }
}

@include color-mode(dark, false) {
    .search {
        td {
            color: $gray-100;
        }
        .tag {
            background: black;
            color: white;
        }
        .bg-color {
            background: $gray-800;
            &:hover {
                background: $gray-300;
                transition: all ease-in-out 100ms;
            }
        }        
    }
}
