.pb-container {
    gap: 2rem;
    .summary {
        background: rgb(198, 225, 248);
        font-weight: 800;
    }
    &.level-0 {
        border-radius: 0;
        background: transparent;
        & > .title {
            color: black!important;
        }
    }
    .level-2,.level-4 {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        background: transparent;
    }
    .leaf {
        background: rgb(90, 88, 88);
        .list {
            background: rgb(255, 229, 184);
            list-style: none;
            gap: 1rem;
            max-width: 1200px;
            &.col2, &.col3 {
                columns: 2;
                column-rule-width: 5px;
                column-rule-color: rgb(107, 107, 107);
                column-gap: 1cm;
                column-rule-style: solid;
            }
            &.col3 {
                columns: 3;
            }
        }
        a {
            color: rgb(0, 0, 0);
            text-decoration: underline;
            text-underline-offset: 0.25rem;
        }
        li {
            width: 100%;
        }

    }
    border-radius: 15px;
    .title {
        color: aliceblue;
    }
}

@include color-mode(light, false) {
    .pb-container {
        background: white;
    }
    .title {
        color: black;
    }
}

@include color-mode(dark, false) {
    .pb-container {
        background: rgb(36, 36, 36);
        .summary {
            a {
                color: $blue;
            }
        }
        &.level-0 {
            border-radius: 0;
            & > .title {
                color: white!important;
            }
        }
        .leaf {
            background: rgb(30, 29, 29);
            a {
                color: white;
            }
            .list {
                background: rgb(43, 43, 43);
                color: white;
            }
        }        
    }
    .title {
        color: white;
    }
}
